Django==3.2.13
djangorestframework==3.13.1
django-crispy-forms==1.14.0
mysqlclient==2.1.0
django-mysql==4.5.0
django-cors-headers==3.11.0
python-dateutil==2.8.1
openpyxl==3.0.9
requests==2.25.1
django-eventstream==4.4.0
channels==3.0.4
daphne==3.0.2
channels-redis==3.4.0
django-grip==3.0.0
redis==4.2.2
celery==5.2.*
kafka-python==2.0.*