{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="{% static 'images/favicon.png' %}">

    <script src="https://use.fontawesome.com/ef098f89d5.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

    <title>Testrail Import Tool</title>
</head>

<body>
    <header class="site-header">
        <nav class="navbar navbar-expand-md navbar-dark bg-jira fixed-top">
            <div class="container">
                <div class="navbar-nav mr-auto pb-1">
                    <img height="34" src="{% static 'images/favicon.png' %}">
                    <h4 class="pl-2 pt-2 mb-0 text-white">Import test cases into Tele2 Testrail</h4>
                </div>
            </div>
        </nav>
    </header>
    <main role="main" class="container">
        <div class="row">
            <div class="col-md-8">
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
                <div class="content-section">
                    <form method="POST">
                        {% csrf_token %}
                        <fieldset class="form-group">
                            <legend class="border-bottom mb-4">Please login using Testrail credentials.</legend>
                            {{ form|crispy }}
                        </fieldset>
                        <div class="form-group">
                            <button class="btn btn-outline-info" type="submit">Login</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-4">
                <div class="content-section">
                    <div class="ml-4 mb-2">
                        <img class="mt-4 ml-2" height="38" src="{% static 'images/Cognizant_logo.png' %}">
                        <img class="ml-2 mt-2" height="36" src="{% static 'images/Tele2_logo.png' %}">
                    </div>
                    <ul class="list-group mt-3 ml-2">
                        <li class="list-group-item list-group-item-light ml-2 mr-2">Developed by <span class="text-info ml-1">Mukul Debnath </span><a href="mailto:mukul.debnath@cognizant.com?subject=Testrail Import Tool"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </main>

    <!-- Optional JavaScript -->
    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="{% static 'ui/jquery.js' %}"></script>
</body>

</html>