body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

ul {
  margin: 0;
}

.bg-nav {
  background-color: #203652;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.alert-error {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.form-control:focus {
  border-color: #212529;
  box-shadow: 0 0 0 0.2rem rgba(39, 39, 39, 0.25);
}

.form-select:focus {
  border-color: #212529;
  box-shadow: 0 0 0 0.2rem rgba(39, 39, 39, 0.25);
}

.modal-content {
  background-color: transparent;
  border: transparent;
}

.card-body {
  padding-bottom: 0rem;
}

.tooltip-inner {
  max-width: 100%;
  text-align: start;
  background-color: #203652;
}